<!DOCTYPE html>
<html>

<head>
    <title>Edit Product</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

    <div class="container mt-5">
        <h2>Edit Product</h2>
        <form action="/control/edit/{{control._id}}" method="post">
            <div class="form-group">
                <label for="productName">Product Name:</label>
                <input type="text" class="form-control" name="name" placeholder="Enter product name"
                    value="{{control.name}}">
            </div>
            <div class="form-group">
                <label for="productDescription">Product Description:</label>
                <input class="form-control" name="description" rows="4" placeholder="Enter product description"
                    value="{{control.description}}"></input>
            </div>
            <div class="form-group">
                <label for="productPrice">Price:</label>
                <input type="number" class="form-control" name="price" placeholder="Enter price"
                    value="{{control.price}}">
            </div>
            <div class="form-group">
                <label for="productImage">Image:</label>
                <input type="url" class="form-control" name="image" placeholder="Enter price" value="{{control.image}}">
            </div>
            <input type="submit" value="Edit" class="btn btn-primary">
            <input type="reset" value="Clear" class="btn btn-success">
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>